<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated entity -->
      <package
            uri="http://yazgel.org/hermes"
            class="org.yazgel.hermes.EntityPackage"
            genModel="model/hermes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hermes -->
      <package
            uri="http://yazgel.org/hermes"
            class="org.yazgel.hermes.HermesPackage"
            genModel="model/hermes.genmodel"/>
   </extension>

</plugin>
